@if(suppliesLoaded){
    <app-toolbar></app-toolbar>
    
    <div class="supplies-container">
        <div class="list-container" >
            @if (Supplies) {
                <app-supply-selector [supplies]="Supplies"></app-supply-selector>
            }
        </div>
        <div class="new-button-container">
            <button class="new-button">
                <i><img src="Content.svg" alt=""></i>
                <span>Asociar Suministro</span>
            </button>
        </div>
    </div>
}