.content-layout{
    width: 100%;
    height: 100vh;
    background-color: #0562B9;
    position: relative;
    padding-left: 330px;
    padding-top: 20px;

    app-sidebar{
        position: absolute;
        top: 20px;
        left: 0;
    }

    .container-page{
        width: 100%;
        height: calc(100vh - 20px);
        overflow-y: auto;
        background-color: #F2F2F2;
        border-radius: 48px 0px 0px 0px;

        .content-page{
            display: block;
            width: 1300px;
            max-width: 90%;
            margin: 0 auto;
            padding: 30px 0px;
        }
    }
}


.header-mobile{
   display: none;
}


@media (max-width: 980px) {
    .content-layout{
        padding-left: 0px;
        padding-top: 0px;
        app-sidebar{
            z-index: 9;
            top: 60px;
            left: -400px;
            transition: left 0.3s ease-in-out;
            &.open{
                left: 0px;
            }
        }
        
        .container-page{
            border-radius: 0px;
            height: calc(100vh - 60px);
            overflow-y: auto;
        }
        
    }

    
.header-mobile{
    width: 100%;
    height: 60px;
    background-color: #0562B9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    padding: 0px 20px;
    
}
}
