<div class="sidebar">
    <div class="sidebar-header">
        <div class="img ">
            <img src="Logo.svg" alt="logo">
        </div>
        <div class="action-button">
            <button class="icon-button">
                <img src="angle-double-left.svg" alt="menu">
            </button>
        </div>
    </div>

    <div class="search">
        <input type="text" [(ngModel)]="search" placeholder="Buscar">
    </div>

    <div class="button-list">

    </div>
    
    <div class="footer"></div>
</div>